.button {
    position: relative;
    font-family: $fraunces;
    color: $veryDarkSatBlue;
    font-weight: 900;
    font-size: 16px;
    background-color: transparent;
    border: transparent;
    text-transform: uppercase;
    &__link {
        text-decoration: none;
        color: $veryDarkSatBlue;
    }
    &__shape {
        position: absolute; 
        top: 50%; 
        left: 0;
        height: 12px;
        width: 100%; 
        z-index: -1; 
        border-radius: 20px; 
        opacity: 0; 
        transition: opacity 0.3s ease;
    }
}

@media screen and (min-width: 1024px) {
    .button {
        &:hover {
            &__shape {
              opacity: 80%;
            }
        }
    }
}

