.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    background-color: $skyBlue;
    &__logo {
        font-family: $barlow;
        font-weight: 900;
        font-size: 1.5rem;
        color: white; 
    }
    &__burger {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0px;
        &--icon {
            display: block;
            transition: 0.3s;
        }
    }
    &__menu {
        position: absolute;
        top: 100px; 
        left: 24px;
        right: 24px;
        background-color: $white; 
        transition: transform 0.3s ease;
        z-index: 10;
        &:active {
            display: block;
        }
        &::before {
            content: '';
            position: absolute;
            top: -28px; 
            right: 0; 
            border-left: 28px solid transparent;
            border-bottom: 28px solid $white; 
        }
    }
    &__menunull {
        display: none;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 24px 0;
        li {
            padding: 1rem; 
            a {
                text-decoration: none;
                font-family: $barlow;
                font-size: 20px;
                color: $darkGreyBlue; 
            }
            .contact-button {
                background-color: $yellow; 
                border: none;
                padding: 20px 28px;
                border-radius: 50px;
                font-family: $fraunces;
                font-weight: 900;
                font-size: 16px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
    &__menudesk {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 20px 24px;
        &__burger {
            display: none;
        }
        &__menudesk {
            display: block;
            ul {
                flex-direction: row;
                margin: 0px;
                li {
                    padding: 0 0 0 32px;
                    a {
                       color: $white; 
                       font-size: 16px;
                    }
                }
            }
            &--contact {
                background-color: hsl(255, 255, 255, 0.25);
                border: none;
                color: $white;
                padding: 16px 24px;
                border-radius: 50px;
                font-family: $fraunces;
                font-weight: 900;
                font-size: 14px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
  }

